<% extend('mainLayout/voiceMain.ejs') %>
<link rel="stylesheet" href="<%= home %><%= nodePort %>/stylesheets/voice.css">
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css" />
<script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>

<div class="container">
      <button class="mt-5 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" data-modal-toggle="createGuilds-modal">
        <i class='bx bxs-plus-circle' ></i> Create guild
      </button>
      <div id="createGuilds-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
          <div class="relative p-4 w-full max-w-md h-full md:h-auto">
              <div class="relative rounded-lg shadow dark:bg-gray-700">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="createGuilds-modal">
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </button>
                  <div class="py-6 px-6 lg:px-8">
                      <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Insert a guild information</h3>
                      <form class="space-y-6" id="createGuild">
                          <div>
                              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Guild name</label>
                              <input type="text" name="name" id="name" class="bg-gray-50  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Name of your Guild" required>
                          </div>
                          <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Guild</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
       <div class="row pt-5" id="cards"></div>
      </div>
</div>

<script>
  (()=>{

    createGuilds();
    function createGuilds(){
      getGuilds().then(roles=>{
        for (const role of roles) {
          getAmountUsers(role.guild_id).then((guildMembers) =>{
            $('#cards').append(`
            <div style="margin-top: 1rem; margin-right: 1rem" class="max-w-sm e rounded-lg border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-end px-4 pt-4">
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="hidden z-10 w-44 text-base list-none rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                        <ul class="py-1" aria-labelledby="dropdownButton">
                        <li>
                            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col items-center pb-10">
                    <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="<%= home %><%= nodePort %>/images/guilds.png" alt="${role.guild.name}"/>
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">${role.guild.name}</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">Members: ${guildMembers}</span>
                    <div class="flex mt-4 space-x-3 lg:mt-6">
                        <a href="<%= home %><%= nodePort %>/guild/${role.guild_id}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Connect</a>
                        <a name="leave-guild-${role.guild_id}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center rounded-lg border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 cursor-pointer leave">Leave</a>
                    </div>
                </div>
            </div>
            `);
            $('[name="leave-guild-'+role.guild_id+'"]').click(()=>{
              leaveGuild(role.guild_id);
            });
          });
        }
      })
    }


    function leaveGuild(guild_id){
        fetch(`<%= home %><%= phpPort %>/guild/leave/${guild_id}`, {
            method: 'GET',
        }).then(res => res.json()).then(data => {
            if(data.success){
                $('#cards').empty();
                createGuilds();
                console.log(data);
            }
        });
    }
    function getGuilds(){
      return new Promise((resolve, reject) =>{
        fetch('<%= home %><%= phpPort %>/voices', {
            method: 'GET'
        }).then(data => data.json()).then(response => {
            resolve(response);
        })
      })
    }

    async function getAmountUsers(guild_id){
      return new Promise((resolve, reject) =>{
        fetch('<%= home %><%= phpPort %>/voices/users-amount/' + guild_id, {
            method: 'GET'
        }).then(data => data.json()).then(response => {
            resolve(response);
        })
      })
    }

    document.getElementById('createGuild').addEventListener('submit', (e) => {
      e.preventDefault();
      const formData = new FormData(e.target);
      fetch('<%= home %><%= phpPort %>/guild/create', {
        method: 'POST',
        body: formData
      }).then(data => data.json()).then(response => {
        if(response.success)
            location.reload();
      })
    });
  })();
</script>
