<% extend('mainLayout/voiceMain.ejs') %>
<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="<%= home %><%= nodePort %>/stylesheets/guild.css">
<div class="flex">
  <div class="flex-1 flex flex-col min-h-screen h-screen">
    <div class="flex-1 flex overflow-y-hidden">
      <div class="bg-gray-800 w-56 flex-none flex flex-col justify-between">
        <div class="hashtag-bar text-sm leading-relaxed overflow-y-auto">
          <ul class="px-2 pt-20" id="channels"></ul>
        </div>
        <div class="bg-gray-850 px-3 py-2 flex items-center justify-between">
          <div class="flex items-center">
            <a href="#">
              <img alt="avatar" src="<%= home %><%= phpPort %>/images/<%= user_id %>.<%= user_image_format %>" onerror="setDefaultImage(this)" id="profile" class="w-8 h-8 rounded-full">
            </a>
            <div class="text-xs ml-2">
              <div class="text-white" id="profile-name"><%= user_username %></div>
            </div>
          </div>
          <div class="flex items-center text-gray-500">
            <a id="muteButton">
              <i class='bx bxs-microphone'></i>
            </a>
            <a href="#" class="ml-3 hover:text-white">
              <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" opacity=".1" fill="none"></path><path d="M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7c0-4.97-4.03-9-9-9z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="flex-1 flex justify-between">
        <div class="flex-1 flex flex-col justify-between" style="background-color: black; width: 80vw;">
          <div class="p-4 shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 overflow-y-scroll" style="width: 100%; height: 100%;">
             <div class="flow-root">
                  <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" id="users">
                  </ul>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const user_id = <%= user_id %>;
  const guild_id = <%= guild_id %>;
  const home = '<%= home %>';
  const nodePort = '<%= nodePort %>';
  const phpPort = '<%= phpPort %>';
  const socket = io();

</script>
<script src="<%= home %><%= nodePort %>/javascripts/Guild.js"></script>
