<% extend('mainLayout/voiceMain.ejs') %>
<link rel="stylesheet" href="<%= home %><%= nodePort %>/stylesheets/voice.css">
<div style="padding-top: 30px" class="container">
      <div class="container">
        <div class="row pt-5 m-auto" id="cards">
          <!-- <div class="col-md-6 col-lg-4 pb-3" style="background: var(--first-color)">

            <div class="card card-custom bg-transparent border-transparent border-0">
              <div class="card-custom-img"></div>
              <div class="card-custom-avatar">
                <img class="img-fluid" src="<%= home %><%= nodePort %>/images/guilds.png" alt="Avatar" />
              </div>
              <div class="card-body" style="overflow-y: auto">
                <p class="card-text" style="font-size: 25px"></p>
                <p class="card-text" style="font-size: 25px"><%= guild.name %></p>
              </div>
              <div class="card-footer" style="background: inherit; border-color: inherit;">
                <a href="#" class="btn btn-primary shadow-none">Connect</a>
                <a href="#" class="btn btn-danger shadow-none">Leave</a>
              </div>
            </div> -->
          </div>
          <!-- New Card -->


        </div>
      </div>
</div>

<script>
  (()=>{

    createGuilds();

    function createGuilds(){
      getGuilds().then(roles=>{
        for (const role of roles) {
          getAmountUsers(role.guild_id).then((guildMembers) =>{
            $('#cards').append(`
            <div class="col-md-6 col-lg-4 pb-3" style="background: var(--first-color); margin-left: 10px">

            <div class="card card-custom bg-transparent border-transparent border-0">
              <div class="card-custom-img"></div>
              <div class="card-custom-avatar">
                <img class="img-fluid" src="<%= home %><%= nodePort %>/images/guilds.png" alt="Avatar" />
              </div>
              <div class="card-body" style="overflow-y: auto">
                <p class="card-title" style="font-size: 25px">${role.guild.name}</p>
              </div>
              <div class="card-footer" style="background: inherit; border-color: inherit;display: flex;flex-wrap: wrap; justify-content: center;">
                <a href="" class="btn btn-primary shadow-none" style="width: 100px;">Connect</a>
                <a href="" class="btn btn-danger shadow-none" style="width: 100px">Leave</a>
                <a href="" class="btn btn-primary disabled shadow-none" style="float: right; width: 100%; margin-top: 10px">Members: ${guildMembers.amount}</a>
              </div>
            </div>
          </div>
            `);
          });
        }
      })
    }

    function getGuilds(){
      return new Promise((resolve, reject) =>{
        fetch('<%= home %><%= phpPort %>/voices', {
            method: 'GET'
        }).then(data => data.json()).then(response => {
            resolve(response);
        })
      })
    }

    async function getAmountUsers(guild_id){
      return new Promise((resolve, reject) =>{
        fetch('<%= home %><%= phpPort %>/voices/users-amount/' + guild_id, {
            method: 'GET'
        }).then(data => data.json()).then(response => {
            resolve(response);
        })
      })
    }

  })();
</script>
