<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#317EFB">
    <link rel="apple-touch-icon" href="<%=home%><%=phpPort%>/images/pwa/icons/apple-icon-180.png">
    <link rel="manifest" href="<%=home%><%=phpPort%>/manifest.json" />
    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
      const el = document.createElement('pwa-update');
      document.body.appendChild(el);
    </script>
      <link rel="icon" type="image/x-icon" href="<%home%><%nodePort%>/images/logos/favicon.png">
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="<%= home%><%= nodePort%>/stylesheets/global.css">
  </head>
  <body>
    <%- content %>
  </body>
</html>
