<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="icon" type="image/x-icon" href="{{home}}{{nodePort}}/images/logos/favicon.png">
      <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{home}}{{nodePort}}/stylesheets/global.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
